div.floatTopRight {
	position:fixed;
	right:2;
	top:4;
	z-index:10;
}
div.grid_holder {
	padding:0px;
	margin:0px;
	width: 100%;
}
table.grid {
	background: white;
	border-collapse: collapse;
	border: thin solid #333333;
	font-size:14px;
	text-align:center;
}
table.grid th {
	border: thin solid #333333;
}
table.grid td {
	border: thin solid #333333;
}
a.ch_monster, a.ch_monster:hover {
	color: brown !important;
	display: block;
}
a.ch_gowap, a.ch_gowap:hover {
	color: #c99b1f !important;
	display: block;
}
a.ch_troll, a.ch_troll:hover {
	color: blue  !important;
	display: block;
}
a.ch_troll[intangible] {
	font-style: italic;
}
a.ch_place, a.ch_place:hover {
	color: black  !important;
	display: block;
}
span.ch_object, span.ch_object:hover {
	color: grey  !important;
	display: none;
}
a.ch_objects_toggler {
	color: grey  !important;
}
a.ch_mushroom, a.ch_mushroom:hover {
	color: #6d7e44  !important;
	display: none;
}
a.ch_cenotaph, a.ch_cenotaph:hover {
	color: #3fbbbc  !important;
	display: none;
}
span.ch_tag {
	color: black !important;
}
.ch_player {
	color: green;
	font-weight: bold;
}
table.grid td.grad {
	text-align: center;
	min-width: 25px;
	min-height: 25px;
}
table.grid td.d0 {
	background-color:white;
}
table.grid td.d1 {
	background-color:#e5decb;
}
table.grid td[hasContent]{
	min-width:100px;
}
form#gridFiltersForm {
	position: fixed;
	left: 15px;
	top: 40px;
	background-color: #EBEBEB;
	border: 1px solid grey;
	margin : 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
}

div.profileInfos table.infos {
	border-collapse: collapse;
	border: thin solid #333333;
	font-size:12px;
	text-align:center;
}
div.profileInfos table.infos td {
	border: thin solid #333333;
}
div.hiddenDiv {
	display: none;
}
#tabChrall {
	text-align: left;
	padding : 8px;
}
#tabChrall a {
	color: #900;
	padding-left: 8px;
	padding-right: 8px;
}
#tabChrall a:hover {
	background-color: #900;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
	text-decoration: none;
	color: white;
}
table.cdm {
	border-collapse: collapse;
	border: thin solid #A0A0FF;
	font-size:12px;
	color: white;
}
table.cdm th {
	border: thin solid #A0A0FF;
	text-align:right;
	font-weight: normal;
	padding: 0 2px;
}
table.cdm td {
	border: thin solid #A0A0FF;
	text-align: left;
	padding: 0 2px;
}
table.cdm th.title {
	text-align:center;
}
.ch_box {
	display: none;
	position: absolute;
	border-radius: 15px;
	box-shadow: 0px 4px 10px #666;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 10px;
	color: white;
	background-size: 100% 100%;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(dodgerblue),
		to(indigo)
	);
}
#ch_messageTitle {
	color: orange;
	font-weight:bold;
	text-shadow: 0 0 0.2em black;
	cursor: pointer;
}
#ch_messageContent {
	display: none;
}
.emphase {
	color: orange;
	font-weight:bold;
	text-shadow: 0 0 0.2em black; 
}
a.gogo:focus {
	oultine: none;
}
a.gogo,  a.gogo:link {
	background-color: mediumblue;
	border-top: 1px solid mediumblue;
	border-bottom: 1px solid darkblue;
	margin : 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
	text-decoration: none;
	color: white !important;
}
a.gogo:hover {
	border-top: 1px solid darkblue;
	border-bottom: 1px solid mediumblue;
}
[invisible] {
	display: none;
}
#bubble {
	position: fixed; display: inline; border: 2px;
	box-shadow: 0px 4px 10px #666;
	border-radius: 6px;
	font-size: 12px;
	color: white;
	padding: 4px;
}
#bubble td {
	color: white;
}
.bub_monster {
	background-color: brown;
}
.bub_gowap {
	background-color: #c99b1f;
}
.bub_troll  {
	background-color: blue;
}
.bub_object  {
	background-color: grey;
}
.bub_competence  {
	background-color: #080;
}
.bub_sort  {
	background-color: #A00;
}
.bubbleTitle {
	text-align: center;
} 
