div.chrall {
	padding:0px;
	margin:0px;
	width:100%;
}
div.chrall > table.grid {
	background: white;
	border-collapse: collapse;
	border: thin solid #333333;
	font-size:14px;
	text-align:center;
}
div.chrall > table.grid th {
	border: thin solid #333333;
}
div.chrall > table.grid td {
	border: thin solid #333333;
}
div.chrall > a[team=B] {
	color:red;
}
div.chrall > span[status=INVI], div.chrall > a[status=INVI] {
	font-style:italic;
	color:red;
}
div.chrall > span[status=TP], div.chrall > a[status=INVI] {
	color:#873622;
}
div.chrall > a[status=MORT] {
	text-decoration:line-through;
}
a.ch_monster, a.ch_monster:hover {
	color: brown !important;
}
a.ch_troll, a.ch_troll:hover {
	color: blue  !important;
}
span.ch_player {
	color: green;
	font-weight: bold;
}
table.grid td.grad {
	text-align: center;
	min-width: 25px;
	min-height: 25px;
}
table.grid td.d0 {
	background-color:white;
}
table.grid td.d1 {
	background-color:#ffe1bd;
}
table.grid td[hasContent]{
	min-width:100px;
}
