ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 27px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	background-image:url("https://games.mountyhall.com/MH_Packs/packMH_parchemin/fond/fond2.jpg");
}
ul.tabs[view] {
	position : fixed;
	top:0;
	left:0;
	right:0;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 26px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 26px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 14px;
	padding: 0 8px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	left:0;
	right:0;
	background: white;
}
.tab_container[view] {
	position : fixed;
	top:28px;
	left:0;
	right:0;
	bottom:0;
	margin: 0;
	padding: 0;
}
.tab_content {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1.2em;
	text-align: left;
}
.tab_container[view] .tab_content {
	position : fixed;
	top:28px;
	left:0;
	right:0;
	bottom:0;
}
.tab_content[scroll] {
	overflow-y:scroll;
}
