
# l'application gogo compilée
gogo
*.8
*.6

# les fichiers de logs de l'application
*.out
*.err
*.out-old
*.err-old

# le script de déployement sur canop.org
deploy.sh

# mes bidouillages de test
test.go
test.sh
